<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>963891869491-5vspg2phmaj9l1g6m8igv77o32o3suei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963891869491-5vspg2phmaj9l1g6m8igv77o32o3suei</string>
	<key>API_KEY</key>
	<string>AIzaSyABxF1NfDbgyg8xal_hl1HO1lDNMvnkAMk</string>
	<key>GCM_SENDER_ID</key>
	<string>963891869491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>esprit.iosProject</string>
	<key>PROJECT_ID</key>
	<string>myiosproject-1c515</string>
	<key>STORAGE_BUCKET</key>
	<string>myiosproject-1c515.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963891869491:ios:a5dcb84059546429</string>
	<key>DATABASE_URL</key>
	<string>https://myiosproject-1c515.firebaseio.com</string>
</dict>
</plist>